.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reset, h2{
    margin: 15px;
}
.reset{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12%;
    height: 35px;
    border-radius: 25px;
    background-color: #000000;
    color : #ffffff;
    padding: 0px 10px 0px 10px;
}
.reset:hover{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .reset{  
        width: 18%;
        font-size: 14px;
    }
    h2{
        font-size: 30px;
    }
}
@media screen and (max-width: 450px) {
    .reset{  
        width: 25%;
        font-size: 14px;
    }
    h2{
        font-size: 30px;
    }
}