.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.reset, h2{
    margin: 15px;
}
.reset{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 35px;
    border-radius: 25px;
    background-color: #000000;
    color : #ffffff;
    padding: 0px 10px 0px 10px;
}
i{
    padding: 0 5px;
}
.reset:hover{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .reset{  
        font-size: 14px;
    }
    h2{
        font-size: 30px;
    }
}
