.task{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-block{
    width: 80%;
    background-color:white;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.todo-item{
    width: 80%;
    height: 50%;
    font-size: large;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    outline: none;
    border: none;
}

.completed{
    padding: 5px;
    text-align: left;
    font-size: larger;
    font-weight: 500;
}

.not-empty{
    display: none;
}

@media screen and (max-width: 700px) {
    .item-block{
        height: 3rem;
    }
}
    